.MainContent {
  background-color: rgb(227, 225, 225);
  width: fit-content;
  max-width: 80vw;
  min-width: 50vw;
  max-height: 80vh;
  min-height: 50vh;
  margin: 0 0;
  padding: 1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30%);
  border-radius: 1rem;
  color: #000;
  display: flex;
  align-self: center;
}

.centered {
  padding: 1rem;
}
