.container {
  min-width: 483px;
  height: 483px;
  display: flex;
  align-self: center;
  margin: 0 auto;
  position: relative;
  margin-top: 1rem;
  aspect-ratio: 1 / 1;
  width: max-content;
  background-color: rgb(31, 29, 29);
}

.formContainer {
  background-color: darkgray;
  border-radius: var(--border-radius);
  width: max-content;
  padding: 0.6rem;
  position: relative;
  color: #000;
  margin: 0 auto;
  margin-top: 1rem;
  transform: translate(-75%, 0);
}
.formLabel {
  padding-right: 1rem;
  font-weight: 600;
}
.formField {
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: var(--border-radius);
}
.container .grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-self: flex-start;
}

.cell {
  border-style: solid;
  border-width: 0.1px;
  width: var(--tile-size);
  height: var(--tile-size);
}

.lightGreen {
  background-color: rgb(37, 208, 37);
}
.darkGreen {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.lightBlue {
  background-color: rgb(0, 157, 255);
}
.darkBlue {
  background-color: blue;
}
.gray {
  background-color: darkgray;
}
